@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideDown 

{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.vertical-light {
  position: absolute;
  left: 50%;
  width: 80px;
  height: 200%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  filter: blur(20px);
  animation: slideDown 3s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease-out;
}

html {
  scroll-behavior: smooth;
}

.hero-fade {
  animation: fadeIn 1.3s ease-in-out;
}

.hero-fade {
  animation: fadeIn 1.2s ease-in-out;
}


